<!DOCTYPE html>
<html lang="en">
  <header class="site-header">
    <section class="container">
      <a href="/" class="logo"><h1>Milledoni</h1></a>
      <link rel="stylesheet" href="/style.css">
      <nav class="main-nav">
        <ul>
          <li><a href="/cadeaus">Cadeaus</a></li>
          <li><a href="/categorieën">Categorieën</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
      </nav>
    </section>
  </header>