{% render "partials/header" %}
<form action="/" method="get" class="filter-columns">

<section class="search-bar">

<h3>I'm looking for a Christmas gift for </h3>

<!-- WHO -->
<h2>Who are you buying for?</h2>

<button type="submit" name="for" value="boyfriend">Boyfriend</button>
<button type="submit" name="for" value="girlfriend">Girlfriend</button>
<button type="submit" name="for" value="father">Father</button>
<button type="submit" name="for" value="mother">Mother</button>
<button type="submit" name="for" value="friend">Friend</button>


<p>
Perfect! And how old is your ?
Reminder: you can always reply by using the chat
</p>

<h2>Age</h2>

<button type="submit" name="age" value="12">5-12 Child</button>
<button type="submit" name="age" value="19">13-19 Teen</button>
<button type="submit" name="age" value="39">20-39 Young adult</button>
<button type="submit" name="age" value="84">40-84 Adult</button>
<button type="submit" name="age" value="100">85+ Elderly</button>

<h2>Describe Marco</h2>

<input
type="text"
name="message"
placeholder="Marco is a positive person"
/>

<button type="submit">Search</button>

</section>

</form>


<!-- Sidebar filters -->

<section class="search-bar-sidebar">

<form action="/" method="get">

<section class="filter-card">

<h2>Price range (€)</h2>

<button type="submit" name="price" value="10">Under €10</button>
<button type="submit" name="price" value="25">Under €25</button>
<button type="submit" name="price" value="50">Under €50</button>

</section>

<section class="filter-card">

<h2>Have vs Do</h2>

<button type="submit" name="type" value="have">Have</button>
<button type="submit" name="type" value="do">Do</button>

</section>

<section class="filter-card">

<h2>Traditional vs Experimental</h2>

<button type="submit" name="style" value="traditional">Traditional</button>
<button type="submit" name="style" value="experimental">Experimental</button>

</section>

</form>

</section>

{% render "partials/footer" %}